<footer class="footer">
  <small>
    Version alpha
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://reddit.com/r/nba/">News</a></li>
    </ul>
  </nav>
</footer>